fastapi
uvicorn[standard]
motor
pymongo
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
sentence-transformers>=2.2.2
chromadb>=0.4.0
scikit-learn
numpy
google-generativeai>=0.5.0
PyPDF2
python-docx
pytesseract
Pillow
razorpay
aiosmtplib
pydantic[email]
python-multipart
bcrypt==4.2.1
pyjwt
gunicorn
pdf2image
requests
langdetect
redis[asyncio]
twilio
